/* CSS for Pixel Pantry
Created 9/7 by Courtney Morrison
Last edited 16/08/2026 */

/*header and body text*/
h1 {
    font-family: "abril-text", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h2 {
    font-family: "abril-text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "abril-text", serif;
    font-weight: 400;
    font-style: normal; 
}

.site_padding{
    padding-left: 20px;
    margin: auto;
}
/*logo*/
.logo_main {
    display: block;
    margin: auto;
    width: 25%;
}

.logo_mini {
    display: block;
    margin: auto;
    height: 75px;
    width: auto;
}

.button_design {
    background-color: #339900;
    border: 2px solid #339900;
    color: #111111;
    padding: 12px 24px;
    font-family: "abril-text", serif;
    font-weight: 400;
    font-style: normal; 
    text-align: center;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button_design:hover,
.button_design:visited:hover {
    background-color: #a3d58a;
    color: #111111;
    border-color: #339900;
}

.photo_img {
    clip-path: circle(50%);
}

th, td {
  padding: 5px;
  vertical-align: middle;
}
/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
